html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 16px;
  font-family: 'Tektur', cursive;
}
header  {
  padding: 1rem;
}

header img {
  width: 3.4rem;
  border-radius: 100%;
}

header h1{
  display: inline;
  vertical-align: top;
  margin-bottom: 0;
  font-size: 2.9rem;
}

nav a, h1 { 
 color:white;
}

nav a, li {
  text-decoration: none;
  list-style: none;
}

section img {
  width: 30rem;
}

.background-img-top {
  background-image: url(/images/background-img-5.jpg);
  background-size:cover;
  background-position: left;
  background-repeat: no-repeat;
}